.container
{
  width: 100%;

}
.leftcontainer
{
  display: block;
  float:left;
  background-color:#D1DDD1;
  position: fixed;
  width:250px;

}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000
}

img.profilepic {
  width: 163px;
height: 179px;
margin-left: 4%;
margin-top: 4%;
border-radius: 81px;
}

.rightcontainer
{
  display: block;
  width:750px;
  float: left;
  background-color: #FFFFFF;
  margin-left: 21%;
}
