.container {
width: 100%;
height: auto;
margin: 0 auto;
}

.leftcontainer{
display: inline-block;
background-color: #D1DDD1;
width: 35%;
height: auto;
border: 2px ridge #DFDEDD;
margin: 0 auto;
float: left;
padding: 35px 0;
}

p{
text-align: justify;
}

.contentpanel {
display: block;
margin: 0 auto;
width: 80%;
height: auto;
border: 1px solid;
overflow: auto;
background-color: white;
}

.circle {
border-radius: 50%;
width: 10px;
height: 10px;
font-size: 50px;
line-height: 0;
padding: 3px;
}

td.languages {
margin: 0 auto;
padding: 5px 44px 5px 0px;
}

img.profilepic {
width: 163px;
height: 179px;
margin: 0 auto;
border-radius: 50%;
display: block;
}

p.refdetail {
text-align: justify;
}

.Interests {
margin-left: 2%;
margin-right: 8%;
font-family: 'Titillium Web', sans-serif;
font-size: 15px;
}

label#expdetails {
font-size: larger;
}

.Other_details {
margin-left: 2%;
font-family: 'Source Sans Pro', sans-serif;
}

.profile {
margin-left: 4%;
margin-right: 4%;
font-family: serif;
font-size: 15px;
text-align: justify;
}

body {
background-color: #6b6767;
}

h1 {
margin: 0 auto;
padding: 0px 0px 2px 3px;
font-family: 'Montserrat', sans-serif;
}

ul {
padding: 0px 0px 0px 20px;
}

label#pinfo {
padding: 0px 1px 2px 5px;
margin: 0 auto;
}

.Technical_skills {
font-family: 'Raleway', sans-serif;
text-align: justify;
margin: 4%;
}

.Education {
margin-left: 2%;
font-family: 'Maven Pro', sans-serif;
}

label#Academic {
padding: 0px 1px 2px 5px;
display: block;
}
.Personal_info {
margin: 4%;
font-family: serif;
}

.References {
margin-left: 2%;
}

td {
padding: 5px;
}

span.year {
float: right;
margin: 0 auto;
}

.rightcontainer {
display: inline-block;
width: 64%;
height: auto;
background-color: #FFFFFF;
padding: 35px 0;
}
